@charset "UTF-8";
/**
 * This is the main import file for our theme.
 * Our SCSS uses the following methodologieis and technologies:
 *
 * 1. ITCSS • https://www.xfive.co/blog/itcss-scalable-maintainable-css-architecture/
 * 2. BEMIT • https://csswizardry.com/2015/08/bemit-taking-the-bem-naming-convention-a-step-further/
 * 3. Normalize.css - http://necolas.github.io/normalize.css/
 * 
 */
/***************************
 ***** 1 • Settings ********
 ***************************/
/*------------------------------
* Responsive Breakpoint VARS
*------------------------------*/
/**
 * Distinct variables for colors are fine, but it can become messy when you have dozens of those. Having a 
 * map just for colors, divided into sub-maps for various element states, is a good idea.
 *
 * @ref http://erskinedesign.com/blog/friendlier-colour-names-sass-maps/
 * 
 */
/**
 * BASE BRAND COLOR MAP
 */
/**
 * FULL SASS COLOR MAP
 */
/**
 * Global Grid Settings
 */
/**
 * Build a Sass Map for various asset paths
 */
/**
 * Build a Sass Map for Shadow Effects for later use
 */
/**
 * BUILD FULL SASS TRANSITION MAP
 */
/**
 * BUILD FULL SASS FONT FAMILY MAP
 */
/**
 * Build our Z-Index Map for later use
 */
/***************************
 ******* 2 • Tools *********
 ***************************/
/**
 * Eventually, we’ll get tired of repeating map-get($color, ...) over and over so you can use a little 
 * helper function to ease your pain!
 *
 * @ref http://erskinedesign.com/blog/friendlier-colour-names-sass-maps/
 *
 * @param $color - color in our color sass map in 1__settings
 *
 */
/**
 * Custom Function for Getting mapped Grid settings
 * 
 * @param $shadow -  Value from our $shadows map in 1__settings
 */
/**
 * A custom function to grab our mapped paths
 *
 * @param $path - Value from our $paths map
 */
/**
 * Custom Function for Getting Mapped Shadow Values
 * 
 * @param $shadow -  Value from our $shadows map in 1__settings
 */
/**
 * A custom function to grab our mapped transitions
 *
 * @param $transition - Value from our $transitions map
 */
/**
 * A Custom Function to grab the correct font family
 * from the $font-families map.
 */
/**
 * A Custom Function to grab the correct font weight
 * from the $font-weights map.
 */
/**
 * Custom Function for Getting Mapped Z-Index Values
 * 
 * @ref https://www.sitepoint.com/better-solution-managing-z-index-sass/
 * @param $layer -  Value from our z-index map in 1__settings
 */
/**
 * This mixin ensures cross browser opacity all the way down to Internet Explorer 5. Though if you have to
 * optomize for IE5, you have a lot bigger problems than opacity, godspeed my friend.
 */
/**
 * Our Beautiful Custom Responsive Mixins
 *


/*------------------------------
* Responsive Max-Width | Mixin
* @author Christopher Hahn
*------------------------------*/
/*------------------------------
* Responsive Max-Width | Mixin
* @author Christopher Hahn
*------------------------------*/
/***************************
 ******* 3 • Generic *******
 ***************************/
/*! normalize.css v6.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 *  * @author Christopher Hahn
 * 
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block; }

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Forms
   ========================================================================== */
/**
 * Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  margin: 0; }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block; }

/**
 * Add the correct display in IE.
 */
template {
  display: none; }

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none; }

/***************************
 ******* 4 • Elements ******
 ***************************/
/**
 * ****************************
 * Elements • Site
 * ****************************
 */
body {
  overflow-x: hidden;
  margin: 0; }

blockquote {
  margin: 0; }

img {
  max-width: 100%; }

ul {
  list-style: none; }

/**
 * ****************************
 * Elements • Typography
 * ****************************
 */
/**
 * Define Font Families
 */
.e-h1,
.e-h2 {
  font-family: proxima-nova, sans-serif; }

.e-h3,
.e-h4,
.e-h5,
.e-h6,
body,
p,
blockquote,
a,
button {
  font-family: nunito, sans-serif; }

/**
 * Define Classless Element Styles
 */
button {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  font-style: italic; }

/**
 * Define Element Class Styles
 */
/**
 * Heading Classes
 */
.e-h1 {
  font-size: 28px;
  line-height: 35px;
  font-weight: 100; }
  @media only screen and (min-width: 800px) {
    .e-h1 {
      font-size: 40px;
      line-height: 50px; } }
  @media only screen and (min-width: 1200px) {
    .e-h1 {
      font-size: 57px;
      line-height: 62px; } }

.e-h2 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 100; }
  @media only screen and (min-width: 800px) {
    .e-h2 {
      font-size: 30px;
      line-height: 40px; } }

/**
 * Body Copy Classes
 */
.e-p--common {
  color: #696969;
  font-family: nunito, sans-serif;
  font-size: 14px;
  line-height: 23px;
  font-weight: 400; }
  @media only screen and (min-width: 1200px) {
    .e-p--common {
      font-size: 14px; } }

/***************************
 ******  5 • Objects *******
 ***************************/
.o-content {
  overflow: hidden; }

/**
 * Our Grid is a slightly modified version of bootstrap's grid!
 */
.o-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%; }

.o-container--max {
  max-width: 1200px; }

.o-container--width {
  width: 90%; }

.o-container-fluid {
  margin-right: auto;
  margin-left: auto; }

.o-row {
  margin-left: -15px;
  margin-right: -15px; }

.o-col-xs-1, .o-col-sm-1, .o-col-md-1, .o-col-lg-1, .o-col-xs-2, .o-col-sm-2, .o-col-md-2, .o-col-lg-2, .o-col-xs-3, .o-col-sm-3, .o-col-md-3, .o-col-lg-3, .o-col-xs-4, .o-col-sm-4, .o-col-md-4, .o-col-lg-4, .o-col-xs-5, .o-col-sm-5, .o-col-md-5, .o-col-lg-5, .o-col-xs-6, .o-col-sm-6, .o-col-md-6, .o-col-lg-6, .o-col-xs-7, .o-col-sm-7, .o-col-md-7, .o-col-lg-7, .o-col-xs-8, .o-col-sm-8, .o-col-md-8, .o-col-lg-8, .o-col-xs-9, .o-col-sm-9, .o-col-md-9, .o-col-lg-9, .o-col-xs-10, .o-col-sm-10, .o-col-md-10, .o-col-lg-10, .o-col-xs-11, .o-col-sm-11, .o-col-md-11, .o-col-lg-11, .o-col-xs-12, .o-col-sm-12, .o-col-md-12, .o-col-lg-12 {
  position: relative;
  min-height: 1px; }

.o-col-xs-1, .o-col-xs-2, .o-col-xs-3, .o-col-xs-4, .o-col-xs-5, .o-col-xs-6, .o-col-xs-7, .o-col-xs-8, .o-col-xs-9, .o-col-xs-10, .o-col-xs-11, .o-col-xs-12 {
  float: left; }

.o-col-xs-12 {
  width: 100%; }

.o-col-xs-11 {
  width: 91.66666667%; }

.o-col-xs-10 {
  width: 83.33333333%; }

.o-col-xs-9 {
  width: 75%; }

.o-col-xs-8 {
  width: 66.66666667%; }

.o-col-xs-7 {
  width: 58.33333333%; }

.o-col-xs-6 {
  width: 50%; }

.o-col-xs-5 {
  width: 41.66666667%; }

.o-col-xs-4 {
  width: 33.33333333%; }

.o-col-xs-3 {
  width: 25%; }

.o-col-xs-2 {
  width: 16.66666667%; }

.o-col-xs-1 {
  width: 8.33333333%; }

.o-col-xs-pull-12 {
  right: 100%; }

.o-col-xs-pull-11 {
  right: 91.66666667%; }

.o-col-xs-pull-10 {
  right: 83.33333333%; }

.o-col-xs-pull-9 {
  right: 75%; }

.o-col-xs-pull-8 {
  right: 66.66666667%; }

.o-col-xs-pull-7 {
  right: 58.33333333%; }

.o-col-xs-pull-6 {
  right: 50%; }

.o-col-xs-pull-5 {
  right: 41.66666667%; }

.o-col-xs-pull-4 {
  right: 33.33333333%; }

.o-col-xs-pull-3 {
  right: 25%; }

.o-col-xs-pull-2 {
  right: 16.66666667%; }

.o-col-xs-pull-1 {
  right: 8.33333333%; }

.o-col-xs-pull-0 {
  right: auto; }

.o-col-xs-push-12 {
  left: 100%; }

.o-col-xs-push-11 {
  left: 91.66666667%; }

.o-col-xs-push-10 {
  left: 83.33333333%; }

.o-col-xs-push-9 {
  left: 75%; }

.o-col-xs-push-8 {
  left: 66.66666667%; }

.o-col-xs-push-7 {
  left: 58.33333333%; }

.o-col-xs-push-6 {
  left: 50%; }

.o-col-xs-push-5 {
  left: 41.66666667%; }

.o-col-xs-push-4 {
  left: 33.33333333%; }

.o-col-xs-push-3 {
  left: 25%; }

.o-col-xs-push-2 {
  left: 16.66666667%; }

.o-col-xs-push-1 {
  left: 8.33333333%; }

.o-col-xs-push-0 {
  left: auto; }

.o-col-xs-offset-12 {
  margin-left: 100%; }

.o-col-xs-offset-11 {
  margin-left: 91.66666667%; }

.o-col-xs-offset-10 {
  margin-left: 83.33333333%; }

.o-col-xs-offset-9 {
  margin-left: 75%; }

.o-col-xs-offset-8 {
  margin-left: 66.66666667%; }

.o-col-xs-offset-7 {
  margin-left: 58.33333333%; }

.o-col-xs-offset-6 {
  margin-left: 50%; }

.o-col-xs-offset-5 {
  margin-left: 41.66666667%; }

.o-col-xs-offset-4 {
  margin-left: 33.33333333%; }

.o-col-xs-offset-3 {
  margin-left: 25%; }

.o-col-xs-offset-2 {
  margin-left: 16.66666667%; }

.o-col-xs-offset-1 {
  margin-left: 8.33333333%; }

.o-col-xs-offset-0 {
  margin-left: 0%; }

@media (min-width: 768px) {
  .o-col-sm-1, .o-col-sm-2, .o-col-sm-3, .o-col-sm-4, .o-col-sm-5, .o-col-sm-6, .o-col-sm-7, .o-col-sm-8, .o-col-sm-9, .o-col-sm-10, .o-col-sm-11, .o-col-sm-12 {
    float: left; }
  .o-col-sm-12 {
    width: 100%; }
  .o-col-sm-11 {
    width: 91.66666667%; }
  .o-col-sm-10 {
    width: 83.33333333%; }
  .o-col-sm-9 {
    width: 75%; }
  .o-col-sm-8 {
    width: 66.66666667%; }
  .o-col-sm-7 {
    width: 58.33333333%; }
  .o-col-sm-6 {
    width: 50%; }
  .o-col-sm-5 {
    width: 41.66666667%; }
  .o-col-sm-4 {
    width: 33.33333333%; }
  .o-col-sm-3 {
    width: 25%; }
  .o-col-sm-2 {
    width: 16.66666667%; }
  .o-col-sm-1 {
    width: 8.33333333%; }
  .o-col-sm-pull-12 {
    right: 100%; }
  .o-col-sm-pull-11 {
    right: 91.66666667%; }
  .o-col-sm-pull-10 {
    right: 83.33333333%; }
  .o-col-sm-pull-9 {
    right: 75%; }
  .o-col-sm-pull-8 {
    right: 66.66666667%; }
  .o-col-sm-pull-7 {
    right: 58.33333333%; }
  .o-col-sm-pull-6 {
    right: 50%; }
  .o-col-sm-pull-5 {
    right: 41.66666667%; }
  .o-col-sm-pull-4 {
    right: 33.33333333%; }
  .o-col-sm-pull-3 {
    right: 25%; }
  .o-col-sm-pull-2 {
    right: 16.66666667%; }
  .o-col-sm-pull-1 {
    right: 8.33333333%; }
  .o-col-sm-pull-0 {
    right: auto; }
  .o-col-sm-push-12 {
    left: 100%; }
  .o-col-sm-push-11 {
    left: 91.66666667%; }
  .o-col-sm-push-10 {
    left: 83.33333333%; }
  .o-col-sm-push-9 {
    left: 75%; }
  .o-col-sm-push-8 {
    left: 66.66666667%; }
  .o-col-sm-push-7 {
    left: 58.33333333%; }
  .o-col-sm-push-6 {
    left: 50%; }
  .o-col-sm-push-5 {
    left: 41.66666667%; }
  .o-col-sm-push-4 {
    left: 33.33333333%; }
  .o-col-sm-push-3 {
    left: 25%; }
  .o-col-sm-push-2 {
    left: 16.66666667%; }
  .o-col-sm-push-1 {
    left: 8.33333333%; }
  .o-col-sm-push-0 {
    left: auto; }
  .o-col-sm-offset-12 {
    margin-left: 100%; }
  .o-col-sm-offset-11 {
    margin-left: 91.66666667%; }
  .o-col-sm-offset-10 {
    margin-left: 83.33333333%; }
  .o-col-sm-offset-9 {
    margin-left: 75%; }
  .o-col-sm-offset-8 {
    margin-left: 66.66666667%; }
  .o-col-sm-offset-7 {
    margin-left: 58.33333333%; }
  .o-col-sm-offset-6 {
    margin-left: 50%; }
  .o-col-sm-offset-5 {
    margin-left: 41.66666667%; }
  .o-col-sm-offset-4 {
    margin-left: 33.33333333%; }
  .o-col-sm-offset-3 {
    margin-left: 25%; }
  .o-col-sm-offset-2 {
    margin-left: 16.66666667%; }
  .o-col-sm-offset-1 {
    margin-left: 8.33333333%; }
  .o-col-sm-offset-0 {
    margin-left: 0%; } }

@media (min-width: 992px) {
  .o-col-md-1, .o-col-md-2, .o-col-md-3, .o-col-md-4, .o-col-md-5, .o-col-md-6, .o-col-md-7, .o-col-md-8, .o-col-md-9, .o-col-md-10, .o-col-md-11, .o-col-md-12 {
    float: left; }
  .o-col-md-12 {
    width: 100%; }
  .o-col-md-11 {
    width: 91.66666667%; }
  .o-col-md-10 {
    width: 83.33333333%; }
  .o-col-md-9 {
    width: 75%; }
  .o-col-md-8 {
    width: 66.66666667%; }
  .o-col-md-7 {
    width: 58.33333333%; }
  .o-col-md-6 {
    width: 50%; }
  .o-col-md-5 {
    width: 41.66666667%; }
  .o-col-md-4 {
    width: 33.33333333%; }
  .o-col-md-3 {
    width: 25%; }
  .o-col-md-2 {
    width: 16.66666667%; }
  .o-col-md-1 {
    width: 8.33333333%; }
  .o-col-md-pull-12 {
    right: 100%; }
  .o-col-md-pull-11 {
    right: 91.66666667%; }
  .o-col-md-pull-10 {
    right: 83.33333333%; }
  .o-col-md-pull-9 {
    right: 75%; }
  .o-col-md-pull-8 {
    right: 66.66666667%; }
  .o-col-md-pull-7 {
    right: 58.33333333%; }
  .o-col-md-pull-6 {
    right: 50%; }
  .o-col-md-pull-5 {
    right: 41.66666667%; }
  .o-col-md-pull-4 {
    right: 33.33333333%; }
  .o-col-md-pull-3 {
    right: 25%; }
  .o-col-md-pull-2 {
    right: 16.66666667%; }
  .o-col-md-pull-1 {
    right: 8.33333333%; }
  .o-col-md-pull-0 {
    right: auto; }
  .o-col-md-push-12 {
    left: 100%; }
  .o-col-md-push-11 {
    left: 91.66666667%; }
  .o-col-md-push-10 {
    left: 83.33333333%; }
  .o-col-md-push-9 {
    left: 75%; }
  .o-col-md-push-8 {
    left: 66.66666667%; }
  .o-col-md-push-7 {
    left: 58.33333333%; }
  .o-col-md-push-6 {
    left: 50%; }
  .o-col-md-push-5 {
    left: 41.66666667%; }
  .o-col-md-push-4 {
    left: 33.33333333%; }
  .o-col-md-push-3 {
    left: 25%; }
  .o-col-md-push-2 {
    left: 16.66666667%; }
  .o-col-md-push-1 {
    left: 8.33333333%; }
  .o-col-md-push-0 {
    left: auto; }
  .o-col-md-offset-12 {
    margin-left: 100%; }
  .o-col-md-offset-11 {
    margin-left: 91.66666667%; }
  .o-col-md-offset-10 {
    margin-left: 83.33333333%; }
  .o-col-md-offset-9 {
    margin-left: 75%; }
  .o-col-md-offset-8 {
    margin-left: 66.66666667%; }
  .o-col-md-offset-7 {
    margin-left: 58.33333333%; }
  .o-col-md-offset-6 {
    margin-left: 50%; }
  .o-col-md-offset-5 {
    margin-left: 41.66666667%; }
  .o-col-md-offset-4 {
    margin-left: 33.33333333%; }
  .o-col-md-offset-3 {
    margin-left: 25%; }
  .o-col-md-offset-2 {
    margin-left: 16.66666667%; }
  .o-col-md-offset-1 {
    margin-left: 8.33333333%; }
  .o-col-md-offset-0 {
    margin-left: 0%; } }

@media (min-width: 1200px) {
  .o-col-lg-1, .o-col-lg-2, .o-col-lg-3, .o-col-lg-4, .o-col-lg-5, .o-col-lg-6, .o-col-lg-7, .o-col-lg-8, .o-col-lg-9, .o-col-lg-10, .o-col-lg-11, .o-col-lg-12 {
    float: left; }
  .o-col-lg-12 {
    width: 100%; }
  .o-col-lg-11 {
    width: 91.66666667%; }
  .o-col-lg-10 {
    width: 83.33333333%; }
  .o-col-lg-9 {
    width: 75%; }
  .o-col-lg-8 {
    width: 66.66666667%; }
  .o-col-lg-7 {
    width: 58.33333333%; }
  .o-col-lg-6 {
    width: 50%; }
  .o-col-lg-5 {
    width: 41.66666667%; }
  .o-col-lg-4 {
    width: 33.33333333%; }
  .o-col-lg-3 {
    width: 25%; }
  .o-col-lg-2 {
    width: 16.66666667%; }
  .o-col-lg-1 {
    width: 8.33333333%; }
  .o-col-lg-pull-12 {
    right: 100%; }
  .o-col-lg-pull-11 {
    right: 91.66666667%; }
  .o-col-lg-pull-10 {
    right: 83.33333333%; }
  .o-col-lg-pull-9 {
    right: 75%; }
  .o-col-lg-pull-8 {
    right: 66.66666667%; }
  .o-col-lg-pull-7 {
    right: 58.33333333%; }
  .o-col-lg-pull-6 {
    right: 50%; }
  .o-col-lg-pull-5 {
    right: 41.66666667%; }
  .o-col-lg-pull-4 {
    right: 33.33333333%; }
  .o-col-lg-pull-3 {
    right: 25%; }
  .o-col-lg-pull-2 {
    right: 16.66666667%; }
  .o-col-lg-pull-1 {
    right: 8.33333333%; }
  .o-col-lg-pull-0 {
    right: auto; }
  .o-col-lg-push-12 {
    left: 100%; }
  .o-col-lg-push-11 {
    left: 91.66666667%; }
  .o-col-lg-push-10 {
    left: 83.33333333%; }
  .o-col-lg-push-9 {
    left: 75%; }
  .o-col-lg-push-8 {
    left: 66.66666667%; }
  .o-col-lg-push-7 {
    left: 58.33333333%; }
  .o-col-lg-push-6 {
    left: 50%; }
  .o-col-lg-push-5 {
    left: 41.66666667%; }
  .o-col-lg-push-4 {
    left: 33.33333333%; }
  .o-col-lg-push-3 {
    left: 25%; }
  .o-col-lg-push-2 {
    left: 16.66666667%; }
  .o-col-lg-push-1 {
    left: 8.33333333%; }
  .o-col-lg-push-0 {
    left: auto; }
  .o-col-lg-offset-12 {
    margin-left: 100%; }
  .o-col-lg-offset-11 {
    margin-left: 91.66666667%; }
  .o-col-lg-offset-10 {
    margin-left: 83.33333333%; }
  .o-col-lg-offset-9 {
    margin-left: 75%; }
  .o-col-lg-offset-8 {
    margin-left: 66.66666667%; }
  .o-col-lg-offset-7 {
    margin-left: 58.33333333%; }
  .o-col-lg-offset-6 {
    margin-left: 50%; }
  .o-col-lg-offset-5 {
    margin-left: 41.66666667%; }
  .o-col-lg-offset-4 {
    margin-left: 33.33333333%; }
  .o-col-lg-offset-3 {
    margin-left: 25%; }
  .o-col-lg-offset-2 {
    margin-left: 16.66666667%; }
  .o-col-lg-offset-1 {
    margin-left: 8.33333333%; }
  .o-col-lg-offset-0 {
    margin-left: 0%; } }

.o-panel__right {
  height: 100vh;
  position: absolute;
  transition: all 1000ms cubic-bezier(0.68, -0.25, 0.265, 1);
  -webkit-overflow-scrolling: touch;
  width: 100%; }

.o-panel__container {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  margin: 0 auto;
  max-width: 700px;
  width: 85%; }

.o-panel__right__cta {
  overflow-y: hidden; }

.o-panel__right__form {
  min-height: 100vh;
  height: 100%;
  overflow-y: scroll; }
  .o-panel__right__form > .o-panel__container {
    align-items: flex-start;
    padding: 10% 0; }
    @media only screen and (max-width: 800px) {
      .o-panel__right__form > .o-panel__container {
        padding: 70px 0 60px 0; } }

.o-panel__right--hidden {
  opacity: 0;
  transition: all 1300ms cubic-bezier(0.165, 0.84, 0.44, 1); }

.o-panel__right--hidden--bottom {
  transform: translateY(150vh); }

.o-panel__right--hidden--top {
  opacity: 0;
  transform: translateY(-100vh);
  z-index: -1; }

/**
 * ****************************
 * Objects • Left and Right Sides
 * ****************************
 */
.o-side {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 100vh;
  overflow: hidden; }
  @media only screen and (max-width: 800px) {
    .o-side {
      flex-direction: column; } }

.o-side__left {
  flex: 1;
  height: 100%;
  position: relative; }
  @media only screen and (max-width: 800px) {
    .o-side__left {
      order: 2; } }

.o-side__right {
  background: #ffffff;
  flex: 1;
  position: relative;
  z-index: 4; }
  @media only screen and (max-width: 800px) {
    .o-side__right {
      order: 1; } }

.o-thanks {
  background: #ffffff;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  min-height: 100vh;
  flex-shrink: 0; }

.o-thanks > .o-container {
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;
  flex: 0 1 auto; }

.o-thanks__content {
  padding-top: 64px;
  padding-bottom: 64px; }

/***************************
 ******* 6 • Components ****
 ***************************/
/**
 * Complex Components
 */
/**
 * The following code will allow us to build flexible
 * buttons with the least amount of code.  This method is scalable
 * and totally themeable to fit any design need.  As of now, this is
 * best practice for building your site buttons.  If you have
 * suggestions for improvements, please talk to Chris!
 *
 * @note All of the values entered below are for example
 * purposes only.  Feel free to change anything you need
 * to fit your theme styles!
 *
 * @depend Bourbon
 * @depend define a btn-font mixin in _typography
 * @since 1.0.1
 * @author Christopher Hahn
 *
 */
/**
  * Declare your button variables
  */
.c-btn,
.c-form > .gform_wrapper .gform_button {
  border-radius: 50px;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-size: 18px !important;
  font-style: italic;
  padding: 17px 70px 15px 70px !important;
  text-decoration: none;
  transition: all 0.15s ease-in-out; }
  @media only screen and (min-width: 1200px) {
    .c-btn,
    .c-form > .gform_wrapper .gform_button {
      font-size: 22px; } }

.c-btn__gray {
  background-color: #667990;
  border-bottom: 5px solid #4A5A71; }
  .c-btn__gray:hover {
    background-color: #889DB9;
    border-color: #677FA1; }

.c-form > .gform_wrapper .gform_button {
  border-bottom: 5px solid #b01a51; }
  .c-form > .gform_wrapper .gform_button:hover, .c-form > .gform_wrapper .gform_button:focus {
    background-color: #e44c84 !important;
    border-color: #c61e5c; }

/**
 * Simple Copmponents
 */
.c-carousel {
  background-position: 0 0;
  background-repeat: repeat;
  height: 500vh;
  position: absolute;
  transition: all 1.8s;
  width: 100%; }
  @media only screen and (max-width: 800px) {
    .c-carousel {
      display: none !important; } }

.c-carousel__element--transition {
  transition: all 1.8s; }

.c-carousel__element--visible {
  top: 0; }

.c-carousel__element--top-hidden {
  top: -100vh; }

.c-carousel__element--bottom-hidden {
  top: 150vh; }

.c-clouds {
  position: absolute; }

.c-clouds__cloud {
  -moz-border-radius: 200px;
  -moz-box-shadow: 6px -4px 0 0 #f7e7eb inset;
  -webkit-border-radius: 200px;
  -webkit-box-shadow: 6px -4px 0 0 #f7e7eb inset;
  background-color: white;
  border-radius: 200px;
  box-shadow: 6px -4px 0 0 #f7e7eb inset;
  height: 60px;
  position: relative;
  width: 250px; }

.c-clouds__cloud:before, .c-clouds__cloud:after {
  -moz-border-radius: 100px;
  -moz-transform: rotate(30deg);
  -webkit-border-radius: 100px;
  -webkit-transform: rotate(30deg);
  background-color: white;
  border-radius: 100px;
  content: '';
  height: 120px;
  position: absolute;
  top: -75px;
  transform: rotate(30deg);
  width: 120px; }

.c-clouds__cloud:after {
  height: 90px;
  right: 25px;
  top: -45px;
  width: 90px; }

.c-clouds__cloud:before {
  left: 25px; }

.c-clouds__cloud--flip {
  -moz-transform: scaleX(-1);
  /* Gecko */
  -o-transform: scaleX(-1);
  /* Opera */
  -webkit-transform: scaleX(-1);
  /* Webkit */
  transform: scaleX(-1);
  /* Standard */ }

.c-clouds__cloud--z-indexed {
  z-index: 3; }

.c-cta {
  flex: 1;
  text-align: right; }
  @media only screen and (max-width: 800px) {
    .c-cta {
      max-width: 500px;
      text-align: center; } }

.c-cta .c-title-group__copy {
  margin-right: 0;
  margin-left: auto;
  max-width: 500px;
  margin-top: 0; }

.c-cta .c-title-group__title,
.c-cta .c-title-group__copy {
  margin-bottom: 40px; }

.c-cta .c-title-group__title {
  max-width: 500px;
  margin-right: 0;
  margin-left: auto; }
  @media only screen and (max-width: 800px) {
    .c-cta .c-title-group__title {
      margin-bottom: 20px;
      max-width: 400px;
      margin-left: auto;
      margin-right: auto; } }

.c-form {
  flex: 1;
  position: relative; }

.c-form__close {
  color: #bec7d1;
  cursor: pointer;
  position: absolute;
  text-decoration: none;
  right: -3%;
  font-size: 30px;
  padding: 25px;
  top: -35px;
  z-index: 201; }
  .c-form__close:hover, .c-form__close:focus {
    color: #91a0b1; }

.c-form > .gform_wrapper input {
  border-radius: 50px; }

.c-form > .gform_wrapper textarea {
  border-radius: 35px; }

.c-form > .gform_wrapper input,
.c-form > .gform_wrapper textarea {
  background-color: #EDEDED;
  border: none;
  border-bottom: 2px solid #ffffff;
  padding: 10px 15px !important; }
  .c-form > .gform_wrapper input:focus,
  .c-form > .gform_wrapper textarea:focus {
    background-color: #E5E5E5;
    outline: none; }

.c-form > .gform_wrapper .gfield {
  margin-bottom: 30px; }

.c-form > .gform_wrapper .gfield_label {
  color: #4D4D4D; }

.c-form > .gform_wrapper .ginput_container label {
  color: #999999;
  padding-left: 10px;
  padding-top: 10px; }

@media only screen and (max-width: 800px) {
  .c-form > .gform_wrapper .gform_footer {
    margin-bottom: 125px; } }

.c-form > .gform_wrapper .gform_button {
  background-color: #DC2166; }
  .c-form > .gform_wrapper .gform_button:hover {
    background-color: #c61e5c; }

/**
 * Gravity Forms Validation Styling
 */
.gform_wrapper.cfi_wrapper .validation_error {
  border-color: #E5E5E5;
  color: #c61e5c; }

.gform_wrapper.cfi_wrapper .gfield.gfield_error {
  border: none;
  padding: 15px !important; }

.c-logo__img {
  margin-left: auto;
  margin-right: 0;
  max-width: 65px; }

.c-rocket {
  align-content: center;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
  transform: scale(0.8, 0.8); }
  @media only screen and (max-width: 800px) {
    .c-rocket {
      display: none !important; } }

.c-rocket__image {
  align-self: center;
  background-image: url("/wp-content/themes/fuse/_legacy-dist/cfi-splash-aircraft-img.png");
  background-repeat: no-repeat;
  content: '';
  height: 425px;
  position: absolute;
  width: 425px;
  z-index: 0; }

.c-rocket__image:after {
  background-image: url("/wp-content/themes/fuse/_legacy-dist/cfi-splash-aircraft-img.png");
  background-repeat: no-repeat;
  content: '';
  display: block;
  height: 100%;
  opacity: 0;
  position: absolute;
  transform: RotateY(180deg);
  transition: all 1.75s linear;
  width: 100%; }

.c-rocket__image.c-rocket__image--is-dark:after {
  opacity: 1;
  filter: brightness(0.5); }

.c-rocket__flames {
  flex-direction: row;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  transition: all .5s ease; }

.c-rocket__flames--visible {
  margin-top: 390px; }

.c-rocket__flames--hidden {
  margin-top: 290px;
  visibility: hidden; }

.c-rocket__fire {
  animation: flame 3ms ease-in 200ms infinite alternate;
  height: 100px;
  transform-origin: center top;
  width: 62px;
  z-index: -1; }

.c-rocket__flame {
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-top-left-radius: 50%;
  bottom: 0;
  position: absolute;
  transform: rotate(135deg) scale(0.9, 0.9); }

.c-rocket__flame--left {
  margin: 0 0.4vw 115px 0.4vw; }

.c-rocket__flame--right {
  margin: 0 0.4vw 115px 0.4vw; }

.c-rocket__flame--yellow {
  background: gold;
  bottom: 0;
  box-shadow: 0 0 9px 4px gold;
  height: 30px;
  left: 15px;
  width: 30px; }

.c-rocket__flame--orange {
  background: orange;
  bottom: 0;
  box-shadow: 0 0 9px 4px orange;
  height: 39.9px;
  left: 10px;
  width: 39.9px; }

.c-rocket__flame--red {
  background: OrangeRed;
  bottom: 0;
  box-shadow: 0 0 5px 4px OrangeRed;
  height: 50.1px;
  left: 5px;
  width: 50.1px; }

.c-rocket__flame--white {
  background: white;
  bottom: 8px;
  box-shadow: 0 0 9px 4px white;
  height: 30px;
  left: 15px;
  width: 30px; }

@keyframes flame {
  0% {
    transform: rotate(-2deg); }
  20% {
    transform: rotate(2deg); }
  40% {
    transform: rotate(-2deg); }
  60% {
    transform: rotate(2deg); }
  80% {
    transform: rotate(-2deg); }
  100% {
    transform: rotate(2deg); } }

.c-stars {
  position: absolute; }

.c-stars__star1,
.c-stars__star2,
.c-stars__star3 {
  background: transparent; }

.c-stars__star1 {
  height: 1px;
  width: 1px;
  transition: all 2.5s ease; }

.c-stars__star2 {
  height: 2px;
  width: 2px;
  transition: all 2s ease; }

.c-stars__star3 {
  height: 3px;
  width: 3px;
  transition: all 0.8s ease; }

.c-title-group__media--gif {
  height: 0;
  padding-bottom: 75%;
  position: relative;
  width: 100%; }

.c-title-group--form {
  margin-bottom: 65px; }

.c-title-group--form .c-title-group__title,
.c-title-group--thanks .c-title-group__title {
  margin-bottom: 0px; }

.c-title-group--form .c-title-group__copy {
  margin-top: 10px; }

.c-title-group--thanks .c-title-group__copy {
  margin-top: 10px;
  margin-bottom: 65px; }

.c-toggle {
  border-radius: 40px;
  bottom: 60px;
  display: inline-block;
  padding: 4px;
  position: absolute;
  left: calc( 50% - 50px);
  width: 100px;
  z-index: 100; }
  @media only screen and (max-width: 800px) {
    .c-toggle {
      display: none !important; } }

.c-toggle:before,
.c-toggle:after {
  content: '';
  display: table; }

.c-toggle:after {
  clear: both; }

.c-toggle__bg {
  background-color: #C0E6F6;
  border-radius: 40px;
  border: 4px solid #81C0D5;
  height: 100%;
  left: -4px;
  position: absolute;
  top: -4px;
  transition: all 0.1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  width: 100%; }

.c-toggle__input {
  border-radius: 40px;
  border: 1px solid red;
  cursor: pointer;
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2; }

.c-toggle__switch {
  background-color: #F5EB42;
  border-radius: 50%;
  border: 4px solid #E4C74D;
  height: 40px;
  margin-left: 50px;
  position: relative;
  transition: all 0.1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  width: 40px; }

.c-toggle__switch--figure {
  background-color: #fff;
  border-radius: 20px;
  border: 8px solid #D4D4D2;
  bottom: -14px;
  display: block;
  height: 30px;
  left: -50px;
  position: absolute;
  transform: scale(0.4);
  transition: all 0.12s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  width: 80px; }
  .c-toggle__switch--figure:after {
    background-color: #fff;
    border-bottom-color: transparent;
    border-radius: 100%;
    border-right-color: transparent;
    border: 8px solid #D4D4D2;
    content: '';
    display: block;
    height: 15px;
    position: relative;
    right: -42px;
    top: -65px;
    transform: rotateZ(70deg);
    width: 15px; }
  .c-toggle__switch--figure:before {
    background-color: #fff;
    border-bottom-color: transparent;
    border-radius: 100%;
    border-right-color: transparent;
    border: 8px solid #D4D4D2;
    content: '';
    display: block;
    height: 30px;
    position: relative;
    right: -10px;
    top: -25px;
    transform: rotateZ(30deg);
    width: 30px; }

.c-toggle__switch--figure-alt {
  background-color: #EFEEDA;
  border-radius: 100%;
  border: 4px solid #DEE1C5;
  content: '';
  height: 2px;
  left: 2px;
  position: absolute;
  top: 5px;
  width: 2px;
  box-shadow: 42px -7px 0 -3px #FCFCFC, 75px -10px 0 -3px #FCFCFC, 54px 4px 0 -4px #FCFCFC, 83px 7px 0 -2px #FCFCFC, 63px 18px 0 -4px #FCFCFC, 44px 28px 0 -2px #FCFCFC, 78px 23px 0 -3px #FCFCFC;
  transform: scale(0);
  transition: all 0.12s cubic-bezier(0.25, 0.46, 0.45, 0.94); }

.c-toggle__switch--figure-alt:before {
  background-color: #EFEEDA;
  border-radius: 100%;
  border: 4px solid #DEE1C5;
  content: '';
  height: 7px;
  left: 18px;
  position: absolute;
  top: -6px;
  width: 7px; }

.c-toggle__switch--figure-alt:after {
  background-color: #EFEEDA;
  border-radius: 100%;
  border: 4px solid #DEE1C5;
  content: '';
  height: 2px;
  left: 15px;
  position: absolute;
  top: 19px;
  width: 2px; }

.c-toggle__input:checked ~ .c-toggle__switch {
  background-color: #FFFDF2;
  border-color: #DEE1C5;
  margin-left: 0; }

.c-toggle__input:checked ~ .c-toggle__bg {
  background-color: #484848;
  border-color: #202020; }

.c-toggle__input:checked ~ .c-toggle__switch .c-toggle__switch--figure {
  margin-left: 40px;
  opacity: 0;
  transform: scale(0.1); }

.c-toggle__input:checked ~ .c-toggle__switch .c-toggle__switch--figure-alt {
  transform: scale(1); }

/***************************
 ******* 7 • Components ****
 ***************************/
/***************************
 ***** 8 • Utilities *******
 ***************************/
/**
 * ****************************
 * Utility • Accessbility
 * ****************************
 */
.u-visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0; }

.u-align--left {
  text-align: left; }

.u-align--center {
  text-align: center; }

.u-align--right {
  text-align: center; }

@media only screen and (max-width: 700px) {
  .u-align-mobile--left {
    text-align: left !important; } }

@media only screen and (max-width: 700px) {
  .u-align-mobile--right {
    text-align: right !important; } }

@media only screen and (max-width: 700px) {
  .u-align-mobile--center {
    text-align: center !important; } }

/**
 * ****************************
 * Utility • BG Color
 * ****************************
 */
/**
 * ****************************
 * Utility • Backgrounds
 * ****************************
 */
.u-bg-cover {
  background-size: cover;
  background-repeat: no-repeat; }

/**
 * ****************************
 * Utility • Flex
 * ****************************
 */
/**
 * ****************************
 * Utility • Overlay
 * ****************************
 */
/**
 * ****************************
 * Utility • Positioning
 * ****************************
 */
.u-clearfix:before,
.u-clearfix:after,
.o-container:before,
.o-container:after,
.o-container-fluid:before,
.o-container-fluid:after,
.o-row:before,
.o-row:after {
  content: " ";
  display: table; }

.u-clearfix:after,
.o-container:after,
.o-container-fluid:after,
.o-row:after {
  clear: both; }

.u-center-block {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.u-pull--right {
  float: right !important; }

.u-pull--left {
  float: left !important; }

.u-affix {
  position: fixed; }

/**
 * ****************************
 * Utility • Pseudo Elements
 * ****************************
 */
.u-before:before {
  content: '';
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1; }

.u-after:after {
  content: '';
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1; }

/**
 * ****************************
 * Utility • Spacing
 * ****************************
 */
/**
 * ****************************
 * Utility • Text Color
 * ****************************
 */
.u-color--gray {
  color: #4D4D4D; }

/**
 * ****************************
 * Utility • Typography
 * ****************************
 */
/**
 * ****************************
 * Utility • Visibility
 * ****************************
 */
.u-hide {
  display: none !important; }

.u-show {
  display: block !important; }

.u-invisible {
  visibility: hidden; }

.u-text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0; }

/**
 * ****************************
 * Utility • Widths
 * ****************************
 */
.u-max-width--100 {
  max-width: 100px; }

.u-max-width--150 {
  max-width: 150px; }

.u-max-width--200 {
  max-width: 200px; }

.u-max-width--300 {
  max-width: 300px; }

.u-max-width--350 {
  max-width: 350px; }

.u-max-width--400 {
  max-width: 400px; }

.u-max-width--450 {
  max-width: 450px; }

.u-max-width--500 {
  max-width: 500px; }

.u-max-width--550 {
  max-width: 550px; }

.u-max-width--600 {
  max-width: 600px; }

.u-max-width--650 {
  max-width: 650px; }

.u-max-width--700 {
  max-width: 700px; }

.u-max-width--800 {
  max-width: 800px; }

.u-max-width--900 {
  max-width: 900px; }

.u-center {
  margin: 0 auto; }

.u-hug-right {
  margin-right: 0;
  margin-left: auto; }

.u-hug-right {
  margin-right: auto;
  margin-left: 0; }

.u-img-width-fix {
  width: 100%; }

/**
 * ****************************
 * Utility • Gradient
 * ****************************
 */
.u-gradient--blue {
  /* IE10+ */
  background-image: -ms-linear-gradient(top, #BBE3FF 15%, #080b36 35%, #080b36 70%, #BBE3FF 100%);
  /* Mozilla Firefox */
  background-image: -moz-linear-gradient(top, #BBE3FF 15%, #080b36 35%, #080b36 70%, #BBE3FF 100%);
  /* Opera */
  background-image: -o-linear-gradient(top, #BBE3FF 15%, #080b36 35%, #080b36 70%, #BBE3FF 100%);
  /* Webkit (Safari/Chrome 10) */
  /* Webkit (Chrome 11+) */
  background-image: -webkit-linear-gradient(top, #BBE3FF 15%, #080b36 35%, #080b36 70%, #BBE3FF 100%);
  /* W3C Markup */
  background-image: linear-gradient(to bottom, #BBE3FF 15%, #080b36 35%, #080b36 70%, #BBE3FF 100%); }

/*# sourceMappingURL=core.css.map */
