/**
 * Type		:	Config
 * Group	:	Transitions
 *
 * @since 1.0.0
 * @author CreativeFuse
 */

$transitions_config: (


	btn :(

	 	properties: background,
	 	duration: .15s,
	 	timing: ease,

	),

	link: (
		
		properties: all,
	 	duration: .15s,
	 	timing: ease,

	),

	story: (
		
		properties: all,
	 	duration: .25s,
	 	timing: ease-in-out,

	),

);