.o-footer__contact,
.o-footer__copyright{
	
	color: c( grayscale, white );
	margin: 0 auto;
	max-width: 400px;
	text-align: center;

}

.o-footer__copyright{
	
	padding-bottom: 0px !important;
	padding-top: 12px !important;

}

.o-footer__copyright__text{
	
	margin-bottom: 0px !important;

}

.o-footer__contact__item{
	
	display: block;

}