
.tmp-o-footer__content{
    background-color: c( gray );
    font-size: 14px;
    padding: 24px 0;

    > .l-container{

        display: flex;
        align-items: center;

    }

}


.tmp-o-footer__copyright{

    color: c(grayscale, 85);

}


.tmp-o-footer__item{

    color: c(grayscale, 85);
    margin-left: auto;
    margin-right: 0;

}

.tmp-o-footer__logo{
    flex: 0 0 40px;
    margin-right: 24px;

    > .c-svg-icon{

        fill: c(grayscale, black);
        width  : 40px;
        height: 40px;

    }

}