body{

	font-family: serif;

}

strong{

	font-weight: 700;

}

.a-heading--thin,
.a-heading--bold{

	font-family: "Arial", sans-serif;
}

.a-heading--thin{

	font-weight: 100;

}

.a-heading--bold{

	font-weight: 700;

}

.fuse--fonts-loaded body{

	font-family: 'merriweatherregular', serif;
	letter-spacing: .5px;

}

.fuse--fonts-loaded strong{

	font-family: 'merriweatherbold', serif;

}


.fuse--fonts-loaded .a-heading--thin{

	font-weight: 100;
	font-family: 'ProximaNovaT-Thin', "Arial", sans-serif;

}


.fuse--fonts-loaded .a-heading--bold{

	font-weight: 700;
	font-family: 'ProximaNova-Bold', sans-serif;

}