body{

	font-family: serif;

}


.a-heading--thin,
.a-heading--bold{

	font-family: sans-serif;
}


.fuse--fonts-loaded body{

	font-family: 'merriweatherregular', sans-serif;

}

.fuse--fonts-loaded strong{

	font-family: 'merriweatherbold', sans-serif;

}


.fuse--fonts-loaded .a-heading--thin{

	font-weight: 100;
	font-family: 'ProximaNovaT-Thin', sans-serif;

}


.fuse--fonts-loaded .a-heading--bold{

	font-weight: 700;
	font-family: 'ProximaNova-Bold', sans-serif;

}
