.tmp-o-header__content{

    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 10px;

}

.tmp-o-header__logo{
    flex: 0 0 45px;
    transition: all .15s ease;

    &:hover{

        @include opacity(.7);

    }

    > .c-svg-icon{

        fill: c(pink);
        width  : 45px;
        height: 45px;

    }

}


.tmp-o-header__back{

        margin-left: auto;
        margin-right: 0;

}

.tmp-o-header__back__copy{

    color: c(gray);

}

.tmp-o-header__content .tmp-m-btn{

         margin-left: auto;
        margin-right: 0;


}