.tmp-m-btn{

    color:white;
    background-color: c(light-blue);
    padding: 10px 32px;
    border-radius: 50px;
    transition: all .15s ease;

    &:hover{


    }

    &:active{


    }

}


.tmp-m-btn--footer{

    display: inline-block;

}