.tmp-o-hero{

    align-items: center;
    display: flex;
    background-size: cover;
    background-position: center center;

    min-height: 300px;
    position: relative;

}

.tmp-o-hero__title{

    color: white;
    font-size: 48px;
    position: relative;
    z-index: 1;
    max-width: 700px;
    line-height: 1.3;

}

.tmp-o-hero--single .tmp-o-hero__title{

    margin: 0 auto;

}

.tmp-o-hero__sub{
    color: white;
    font-size: 16px;
    position: relative;
    z-index: 1;
}

.tmp-o-hero--archive{
    background-color: c(pink); //fallback
    background: linear-gradient(90deg, c(pink) -4.25%, c(dark-blue) 128.36%);

}

.tmp-o-hero--single{

    align-items: flex-start;
    background-color: c( dark-blue ); // Fallback
    background: linear-gradient(82.11deg, c(light-blue) 1.07%, c(purple) 99.08%);
    justify-content: center;
    min-height: 275px;
    text-align: center;

    > .l-container{

        opacity: 0;

    }

}


.tmp-o-hero--single__title-group{

    margin-top: 83px; // Perfectly center title group in hero
    margin-bottom: 160px; // Space title group to bottom of div so 2 line text forced div down


}

.tmp-o-hero__meta{

    align-items: center;
    display: flex;
    color: white;
    justify-content: center;
    margin-top: 16px;

    > * {

        margin-right: 6px;
        line-height: 1.5;

    }

}

.tmp-o-hero__meta__sep{

    font-size: 20px;

}

.tmp-o-hero__meta__item{
    font-size: 16px;
}

.tmp-o-hero__reading-time .tmp-m-estimated-read{
    color: white;
    font-size: 14px;
}