.tmp-o-post__content{

    color: c( gray );
    padding: 120px 0 84px 0;
    font-size: 18px;
    line-height: 1.9;
    opacity: 0;

}

.tmp-o-post__content p:nth-child(2):first-letter {
    float: left;
    font-size: 375%;
    line-height: 0.8;
    padding-left: 2px;
    padding-top: 2px;
    padding-right: 8px;
    font-weight: 700;
}

.tmp-o-post__summary{

    color: c(gray, light20 );
    background: white;
    border-radius: 10px;
    max-width: 800px;
    margin: 0 auto;
    padding: 64px;
    margin-top: -90px;
    position: relative;
    font-size: 24px;
    line-height: 1.8;
    box-shadow: 0 2px 5px 0 rgba(32,33,36,0.05), 0 19px 38px 0 rgba(32,33,36,0.04);
    opacity: 0;

}

.tmp-o-post__featured__media{

    display: block;
    width: 100%;
    margin-bottom: 110px;

}

.tmp-o-post__back-to-all{
    border-top: 1px solid c(grayscale, 95);
    margin-bottom: 120px;
    padding-top: 84px;
    text-align: center;
}

.tmp-o-post__back-to-all .tmp-m-title-group__title{

    color: c(gray);
    font-size: 36px;
    margin-bottom: 8px;

}

.tmp-o-post__back-to-all .tmp-m-title-group__sub{
    color: c(gray);
    margin-bottom: 32px;

}


.tmp-o-post__back-to-all .tmp-m-btn--footer{

}