.tmp-o-hero{

    align-items: center;
    background-size: cover;
    background-position: center center;
    display: flex;
    min-height: 300px;
    position: relative;

    &:before{

        content: '';
        left: 0;
        right: 0;
        display: block;
        height: 100%;
        width: 100%;
        position: absolute;

    }

}

.tmp-o-hero__title{

    color: white;
    font-size: 48px;
    opacity: 0;
    position: relative;
    z-index: 1;

}

.tmp-o-hero__sub{
    color: white;
    font-size: 16px;
    opacity: 0;
    position: relative;
    z-index: 1;
}

.tmp-o-hero--archive{

    background-color: c( gray );

}